@font-face {
  font-family: "Pixelify";
  src: url("./Pixelify.ttf");
}

:root {
  font-family: "Pixelify", sans-serif;
  --main-clr: white;
  --scd-clr: black;
  --main-bg-clr: black;
  --scd-bg-clr: rgb(235, 60, 47);

  color: var(--main-clr);
  background-color: var(--main-bg-clr); 
}

body {
  width: 100%;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 /* HEADER STYLES */

.header {
  width: 100%;
  height: 50px;
  padding: 1rem;
  background: var(--scd-bg-clr);
  color: var(--scd-clr);
}

.logo {
  font-size: 1.5rem;
}

.rest-name {
  font-size: 2rem;
}

.nav {
  gap: 10px;
}

.button {
  font-family: "Pixelify";
  border: none;
  padding: 5px 10px;
  width: 100px;
  background-color: var(--scd-bg-clr);
  font-size: 1rem;
  transition: all .3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: orange;
  color: var(--main-clr);
}

/* MAIN STYLES */

.main {
  justify-content: center;
  align-items: center;
}