@font-face {
  font-family: "Pixelify";
  src: url("./Pixelify.ttf");
}

:root {
  font-family: "Pixelify", sans-serif;
  --main-clr: white;
  --scd-clr: black;
  --main-bg-clr: black;
  --scd-bg-clr: rgb(235, 60, 47);

  color: var(--main-clr);
  background-color: var(--main-bg-clr); 
}

body {
  width: 100%;
  min-height: 100vh;
  
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 /* HEADER STYLES */

.header {
  width: 100%;
  height: 50px;
  padding: 1rem;
  background: var(--scd-bg-clr);
  color: var(--scd-clr);
}

.logo {
  font-size: 1.5rem;
}

.rest-name {
  font-size: 2rem;
}

.nav {
  gap: 10px;
}

.button {
  font-family: "Pixelify";
  border: none;
  padding: 5px 10px;
  width: 100px;
  background-color: var(--scd-bg-clr);
  font-size: 1rem;
  transition: all .3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: orange;
  color: var(--main-clr);
}

/* MAIN STYLES */

.main {    
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  height: auto;  
  padding: 1rem;
}

/* About section */

.welcome {
  width: 100%;
  height: 600px;  
  margin-top: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.hi {
  font-size: 2.5rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pic-like {
  background-color: var(--scd-bg-clr);
  color: var(--scd-clr);
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  height: 300px;
}

.about-us {
  font-size: 2.5rem;
}

/* Menu section */

.menu {
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  gap: 20px;
}

.sushi,
.rolls,
.noodles,
.tea {
  width: 600px;
}

.menu-section {
  font-size: 2rem;
  background-color: var(--scd-bg-clr);
  color: var(--scd-clr);
  text-align: center;
  margin-bottom: 10px;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-item-price {
  text-align: end;
}